body {
  display: flex;
  flex: 1;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  height: 100vh;
}
#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.button-black {
  border: 1px solid;
  border-color: black;
  background-color: transparent;
  color: black;
  height: 6.5rem;
  width: 11rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 550;
  transition: all 0.5s;
}

.button-black:hover {
  background-color: black;
  color: white;
}

.button {
  border: 1px solid;
  border-color: white;
  background-color: transparent;
  color: white;
  height: 6.5rem;
  width: auto;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 550;
  transition: all 0.5s;
}

.button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

::placeholder {
  color: black;
}

.clickable:hover {
  cursor: pointer;
}

a:-webkit-any-link {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--grey-carls);
  font-weight: 700;
  width: auto;
}

.link::after {
  content: "";
  width: auto;
  height: 8px;
  background-color: var(--grey-carls);
}

.link:hover {
  cursor: pointer;
}

:root {
  --red-carls: #cc2131;
  --yellow-carls: #f6d43c;
  --grey-carls: #222222;
  --blue-dessert: #5b8fa5;
}

.String-error {
  height: 1.5rem;
  color: red;
  font-weight: 770px;
}
